<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>controller.myServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCartController</servlet-name>
        <servlet-class>controller.AddtoCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovefromCartController</servlet-name>
        <servlet-class>controller.RemovefromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCartController</servlet-name>
        <url-pattern>/AddtoCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovefromCartController</servlet-name>
        <url-pattern>/RemovefromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
